Data Transformation Example

In [1]:
import pandas

In [2]:
data_frame=pandas.read_csv('/content/sample_data/Movie_collections_data.csv')

In [3]:
data_frame

                 Movie  Break_even_target(in cr)  Share collection(in cr)
0              Akhanda                      54.0                    69.50
1                Krack                      18.0                    36.00
2         Bheemlanayak                     108.0                    97.36
3                Major                      19.0                    33.35
4  Sarkaru Vaari Paata                     121.0                   107.01
5              Acharya                     132.5                    48.00
6     Shyam singha roy                      24.0                    23.39
7               Uppena                      21.0                    47.72

In [4]:
data_frame['recovery_percentage']=(data_frame['Share collection(in cr)']/data_frame['Break_even_target(in cr)'])*100

Although the values range of the movies are different,those data is transformed into common range of value called revory_percentage

In [5]:
data_frame

,Movie,Break_even_target(in cr),Share collection(in cr),recovery_percentage
0,Akhanda,54.0,69.50,128.703704
1,Krack,18.0,36.00,200.000000
2,Bheemlanayak,108.0,97.36,90.148148
3,Major,19.0,33.35,175.526316
4,Sarkaru Vaari Paata,121.0,107.01,88.438017
5,Acharya,132.5,48.00,36.226415
6,Shyam singha roy,24.0,23.39,97.458333
7,Uppena,21.0,47.72,227.238095